body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-container {
    background-color: #4b0082;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-bottom: 20px;
}

.contact-container h2 {
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.contact-form button {
    background-color: #fff;
    color: #4b0082;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #4b0082;
    color: #fff;
}

.faq {
    background-color: #4b0082;
    padding: 20px;
    border-radius: 10px;
}

.question {
    margin-bottom: 20px;
}

.question h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.question p {
    font-size: 16px;
}
