body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #4b0082;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.form-container {
    background-color: #4b0082;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
    width: 300px; /* Largura da caixa de login */
    max-width: 100%;
    height: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    background-color: #fff;
    color: #4b0082;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #4b0082;
    color: #fff;
}
